body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.top{
    background-color: rgb(192, 31, 31);
display: flex;
justify-content: space-between;
padding-left: 40px;
padding-right: 40px;
}

.top ul li  {list-style-type: none;

}

.top ul li a{
    text-decoration: none;
    padding: 20px;
    color: white;
}
.top ul {
    display: flex;
}

.space{
    padding-left: 100px;
    color: white;
}
.baby{
    width: 150px;
    height: 150px;
}


.kopor-keh {
    text-align: center;
    background-color: white;
    padding-left: 40px;
padding-right: 40px;
}
.opor{
    background-color: rgb(138, 6, 6);
    width: 350px;
    height: 45px;
    border-radius: 30px;
    border: none;
    margin-bottom: 30px;
}

.parent{
background-color: rgb(128, 8, 8);
justify-content: space-between;
display: flex;
text-align: center;
padding-top: 100px;
padding-bottom: 60px;
color: white;
font-size: 20px;
padding-left: 40px;
padding-right: 40px;
}
.en{
    width: 90px;
    height: 90px;
}

.env{
    width: 90px;
    height: 90px;
}

.enve{
    width: 90px;
    height: 90px; 
}

.envelope p{
    width: 350px;
}

.envel p{
    width: 350px;
}

.envelo p{
    width: 350px;
}

.envelope p{
    margin-left: 90px;
}

.envelo p{
    margin-right: 90px;
}

.parent{
    padding: 20px;
}
.fam{
    background-color: white ;
    padding-left: 40px;
padding-right: 40px;
}

.cole{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-left: 80px;
    margin-top: 50px;
}

.colee{
    width: 90px;
    height: 90px;
    border-radius: 100%;
    margin-right: 5px;
    margin-top: 50px;
}

.text p{
    font-size: 25px;
    width: 450px;
    padding-top: 33px;
    font-style: italic;
}
    .tex p{
        font-size: 25px;
        width: 450px;
        padding-top: 33px;
        font-style: italic;
    }
    .fam{
        justify-content: space-between;
        display: flex;
    }

    .fam > div > div{
        color: red;
        font-size: 35px;
    }

    .started{
         background-color: rgb(189, 182, 182);
         justify-content: space-between;
         display: flex;
         padding-top: 100px;
         padding-left: 40px;
         padding-right: 40px;
    }
    .start{
        font-size: 30px;
        margin-left: 200px;
        margin-top:0px;
        font-style: inherit;
    }
    .get{        
        background-color: rgb(138, 6, 6);
        width: 200px;
        height: 45px;
        border-radius: 30px;
        border: none;
        margin-bottom: 50px;
        color: white;
        font-size: 25px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .trial{
        margin-right: 200px;
        margin-top: 0px;
    }

     .bottom{
        background-color:rgb(128, 8, 8) ;
        justify-content: space-between;
        display: flex;
        color: white;
        font-size: 15px;
        padding-bottom: 40px;
        padding-left: 200px;
        
    }

    .con{
        padding-top: 40px;
    }
    .con ul li{
        list-style-type: none;
    }

    .con ul li a{
        text-decoration: none;
        color: white;
        padding: 20px;
    }
    .terms ul li{
        list-style-type: none;
    }
    .terms ul li a{
        text-decoration: none;
        color: white;
    }
    .terms{
        padding-right: 200px;
        padding-top: 40px;
    }
   
